# Docker Compose - Produção
version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: meter-frontend
    ports:
      - "8087:80"
    restart: unless-stopped
    networks:
      - meter-network

networks:
  meter-network:
    driver: bridge
